.item-component {
  .inner-list {
    margin: 20px 0 0;
    padding: 5px 0 5px;
    border-radius: 5px;
    background: #32383e;
  }

  .inner-list__item {
    padding: 5px 10px;
    display: block;
  }
}