<div class="content item-component">
  <div class="buttons-container">
    <button
      class="button"
      (click)="goBack()">
      << Back
    </button>
  </div>
  
  <div class="filters-container">
    <div class="filter">
      <label>
        Search by params:
        <input
          class="filter__input"
          type="text"
          [(ngModel)]="searchInput"
        />
      </label>
    </div>
  </div>

  <ul
    *ngIf="itemToShow !== undefined"     
    class="inner-list">
    <li
      *ngFor="let prop of itemToShow | keyvalue"
      class="inner-list__item">
      <span class="inner-list__item-title">      
        {{ prop.key | removeUnderscore | firstCharToUpperCase }} :
      </span>
      <span class="inner-list__item-value">
        {{ prop.value }}
      </span>
    </li>
  </ul>
</div>
