<div class="content">
    <h2 class="header">{{ currentListType | firstCharToUpperCase }}</h2>

    <div class="buttons-container">
      <button 
        class="button"
        [disabled]="currentListType === 'films'"
        (click)="getList(schemas.films.url, 'films')">
        Films
      </button>
      <button 
        class="button"
        [disabled]="currentListType === 'starships'"
        (click)="getList(schemas.starships.url, 'starships')">
        Starships
      </button>
      <button 
        class="button"
        [disabled]="currentListType === 'people'"
        (click)="getList(schemas.people.url, 'people')">
        People
      </button>
    </div>

    <div class="filters-container">
      <label class="filter">
        {{ schemas[currentListType].filters[0] | removeUnderscore | firstCharToUpperCase }}:
        <input 
          class="filter__input"
          type="text"
          [(ngModel)]="first"
        />
      </label>
      <label class="filter">
        {{ schemas[currentListType].filters[1] | removeUnderscore | firstCharToUpperCase }}:
        <input 
          class="filter__input"
          type="text"
          [(ngModel)]="second"
        />
      </label>
    </div>
  
    <div class="pagination">
      <button
        [disabled]="!data?.previous"
        (click)="getList(data.previous)"
        class="button">
        <- Prev
      </button>
      <button
        [disabled]="!data?.next"
        (click)="getList(data.next)"
        class="button">
        Next ->
      </button>
    </div>

    <ul
      *ngIf="listToShow.length > 0" 
      class="list">
      <li
        *ngFor="let item of listToShow" 
        class="list__item">
        <ul class="inner-list">
          <li 
            *ngFor="let prop of schemas[currentListType].filters"
            class="inner-list__item">
            <span class="inner-list__item-title">
              {{ prop | removeUnderscore | firstCharToUpperCase }} :
            </span> 
            <span class="inner-list__item-value">
              {{ item[prop] }}
            </span>
          </li>
          <li class="inner-list__item">
            <a 
              class="inner-list__item-title"
              routerLink="/item-info"
              [queryParams]="{ 'url': (item.url) }">
              More...
            </a> 
          </li>
        </ul>
      </li>
    </ul>
  
    <div class="pagination">
      <button
        [disabled]="!data?.previous"
        (click)="getList(data.previous)"
        class="button">
        <- Prev
      </button>
      <button
        [disabled]="!data?.next"
        (click)="getList(data.next)"
        class="button">
        Next ->
      </button>
    </div>
</div>