.header {
  font-size: 24px;
  color: #ffe300;
}

.pagination {
  margin: 15px 0 0;
}

.list {
  margin: 20px 0 0;
  padding: 5px 0 5px;
  border-radius: 5px;
  background: #32383e;
  list-style: none;

  &__item {
    padding: 5px 10px;
    box-sizing: border-box;

    &:last-child:after {
      display: none;
    }

    &:after {
      content: '';
      width: calc(100% + 20px);
      height: 1px;
      display: block;
      position: relative;
      left: -10px;
      top: 5px;
      background: #1c1e22;
    }
  }
}
