/* You can add global styles to this file, and also import other style files */

/* BEGIN RESET CSS */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* END RESET CSS */

/* BEGIN GLOBAL */
* {
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
}

body {
  background: #1c1e22;
}

.content {
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
}

.buttons-container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.button {
  margin-right: 15px;
  border: 2px solid #ffe300;
  box-sizing: border-box;
  border-radius: 5px;
  background: none;
  opacity: 1;
  font-weight: 600;

  &:disabled {
    opacity: 0.65;
  }
}

.filters-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.filter {
  margin: 10px 0 0;
  font-weight: 600;
  
  &__input {
    outline: none;
    border-style: none;
    border-bottom: 2px solid white;
    background: none;
    color: #ffe300;
  }
}

.inner-list {
  display: flex;
  flex-direction: column;
  list-style: none;

  &__item {
    display: flex;
    flex-direction: row;
  }

  &__item-title {
    font-weight: 600;
  }

  &__item-value {
    word-break: break-word;
  }
}

/* END GLOBAL */
